<div class="row">
    <div ng-controller="TabsController" >
                    <anime-data></anime-data>
                    <div >
                       <ul class="nav nav-tabs">
                        <li ng-class="{active:tab===1}"><a ng-click="selectTab(1)" >Genero</a></li>
                        <li ng-class="{active:tab===2}"><a ng-click="selectTab(2)" >Descripcion</a></li>
                        <li ng-class="{active:tab===3}"> <a ng-click="selectTab(3)" >Episodios</a></li>
                       
                    </ul>
                       
                    <div  class="tab-content" >
                        <div  ng-show="tab===1">
                            
                            <div class="lead" anime-genero></div>
                        </div>
                        <div  ng-show="tab===2">
                            <anime-descripcion></anime-descripcion>
                        </div>
                        <div  ng-show="tab===3">
                            <anime-episodios></anime-episodios>
                        </div>
                        
                    </div> 
                    </div>
                    
                </div> 
                <section >
                    <anime-comentario></anime-comentario>
                    
                </section>
               
            </div>