<button  ng-hide="cmtsCtrl.show" class="btn btn-primary" ng-click="cmtsCtrl.toggle()" >Show comments <span class="badge">{{cmtsCtrl.comments.length}}</span></button>

<div class="panel panel-primary" ng-show="cmtsCtrl.show">
    <div class="panel-heading">
        <h1 class="panel-title">Comments <button class="close pull-right" >&times;</button></h1>
    </div>
    <div class="panel-body">
        <form name="commentsForm" class="form-horizontal" role="form" ng-submit="cmtsCtrl.addComment()" novalidate>
            <div class="form-group">
                <div class="col-sm-6">
                    <textarea  placeholder="Please tell us what you think about " class="form-control" required ng-model="cmtsCtrl.comment.body"></textarea>
                </div>
                <div class="col-sm-4">
                    <input  type="email" placeholder="Please enter your email address" ng-disabled="cmtsCtrl.comment.anonymous"class="form-control" ng-model="cmtsCtrl.comment.email" ng-required="!cmtsCtrl.comment.anonymous">
                    <label>
                        <input  type="checkbox" ng-model="cmtsCtrl.comment.anonymous" ng-change="cmtsCtrl.anonymousChanged()">
                        Anonymous
                    </label>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-lg">Comment</button>
                </div>
            </div>
        </form>

        <div ng-if="!commentsForm.$valid"class="alert alert-danger">Formulario invalido</div>
        <div ng-if="commentsForm.$valid"class="alert alert-success">Formulario valido</div>

        <blockquote ng-repeat="comment in cmtsCtrl.comments">
            <p>{{comment.body}}</p>
            <footer>
                Comment by 
                <a ng-if="!comment.anonymous" href="mailto:{{comment.email}}">{{comment.email}}</a> 
                <em ng-if="comment.anonymous">Anonymous</em>
                on <span>{{comment.date| date:'medium'}}</span>
            </footer>
        </blockquote>
    </div>
</div>